#blog h3, h4{
    text-align: center;
}

#blog .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article{
    margin: 20px;
}

#blog img{
    width: 100%;
    height: 90%;
    max-width: 280px;
}